<% if current_user.admin? %>
   
   coucou admin













<% else %>
  <h1> Index des questions </h1>

  <% @questions.each do |question|  %>
  <p><%= question.query %></p>
  <p>linked? = <%= question.linked %></p>
  <% end %>
<% end %>
