
<div class="container-home">
  <div class="header">
    <h3> Bienvenue dans l'Assistant Beecee </h3>
 </div>
                 
<div class="imgformulaire">
  <div class="formulairebarrederecherche">
    <%= simple_form_for(@question) do |f| %>
      <%= f.input :query, label: false, placeholder: "Posez votre question" %>
      <%= f.button :submit, class: "btn-primary", value: "Rechercher" %>
    <% end %>
  </div>
</div> 

