<p>Posez-moi une question</p>

<%#= form_tag questions_path, method: :post do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Votre question"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<%# end %>

<%= form_for(@question) do |f| %>
  <%= f.label :query %>
  <%= f.text_field :query %>
  <%= f.submit %>
<% end %>