// Import page-specific CSS files here.
.container-home {
  background: #f4f4f4;
  padding-top: 10px;
  margin-right: 0px;
}

.intro {
  display: flex;
  margin-left: 70px;
  margin-top: 20px;
}

.dropdown {
  padding-left: 250px;
}

.form-dropdown {
  padding: 6px;
}

.form-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin-left: 70px;
  padding-top: 10px;
}

.grille {
  display: flex table-column;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 70px;
  margin-right: 70px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 2px;
}

.ligne {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 0.5px lightgray;
  padding-bottom: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.titres {
  display: flex;
  border-bottom: solid 0.5px lightgray;
}

.col-4 {
  padding-right: 15px;
}

.recherche-admin {
  background: #17a2b8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 2px;
}

.fa-solid {
  color: #C2C8D1;
}

.boitebouton {
  margin-top: none;
  margin-bottom: 30px;
}

.btn-primary input {
  color: whitesmoke;
  background-color:#024172;
  margin-top: -37px;
}
