.imgformulaire{
  width: 900px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  background-image: url(https://www.beecee.fr/assets/images/jungle@2x.jpg);
  margin-top: 70px;
  border-radius: 4px;
}

.formulairebarrederecherche{
  width: 480px;
  margin: 0 auto; 
  margin-top: auto;
  margin-bottom: auto;
}

.formulairebarrederecherche input{
  vertical-align: middle;
  line-height: 50%;

}
